<div class='row wrapper'>
  <div class='col-lg-12'>
    <h3>Listing Companies</h3>
    <ol class='breadcrumb'>
      <li>
        {{#link-to 'index'}}
          Home
        {{/link-to}}
      </li>
      <li class='active'>
        <strong>Companies</strong>
      </li>
    </ol>
  </div>
  <div class='col-lg-2'></div>
</div>
<div class='wrapper wrapper-content'>
  <div class='row'>
    <div class='col-lg-10 s-element companies'>
      <div class=''>
          <h4>Companies</h4>
      </div>
      <div class="pull-right">
        {{link-to 'New company' 'manager.companies.new' class="btn btn-default"}}
      </div>
      <br>
      <br>
      {{#each model as |company|}}
        <div class="s-element-item">
          <i class="fa fa-square"></i>
          <span>
            {{#link-to 'manager.companies.company' company}}
              {{company.name}}
            {{/link-to}}
          </span>
        </div>
      {{else}}
        <div class="s-element-item">
          <i class="fa fa-square"></i>
          <span>
            No company yet!
          </span>
        </div>
      {{/each}}
    </div>
  </div>
</div>