{{outlet}}
<h2>Company Details</h2>
<label class='text-left'>Name:</label>
<span>
  {{model.name}}
</span>
<br>
<label class='text-left'>Domain:</label>
<span>
  {{model.domain}}
</span>
<br>
<button {{action "delete"}} class="btn btn-danger">Delete</button>
  