<ul class='nav' id='side-menu'>
  <li class='nav-header'>
    Logo
  </li>
  <li>
    {{#link-to 'index' }}
      <i class='fa fa-th-large'></i>
      <span class='nav-label'>Home</span>
    {{/link-to}}
  </li>
  <li>
    {{#link-to 'admin.company'}}
      <i class='fa fa-group'></i>
      <span class='nav-label'>My Company</span>
    {{/link-to}}
  </li>
</ul>