<section>
  <div class='row'>
    <div class='col-lg-12'>
      <h2>Company</h2>
      <ol class='breadcrumb'>
        <li>
          <a href='/'>Home</a>
        </li>
        <li class='active'>
          <a>Company</a>
        </li>
      </ol>
    </div>
    <div class='col-lg-2'></div>
  </div>
</section>
<div class="col-md-10">
  <h3>Theme</h3>
  <div class="form-group theme">
    <span>Current Theme:</span>
    <span>{{model.theme}}</span>
    <br>
    {{#link-to 'reseller.company.edit'}}Edit{{/link-to}}
    <hr>
  </div>
</div>
{{outlet}}