<div class='footer fixed'>
  <div class='pull-right'>
    <span class='text-muted' style='margin-right: 20px;'>Dúvidas</span>
    <span class='text-muted' style='margin-right: 20px;'>Feedback</span>
    <span class='text-muted'>Contato</span>
  </div>
  <div>
    <span class='text-muted'>Copyright © 2015 Railsblocks</span>
  </div>
</div>