<div class='row border-bottom'>
  <nav class='navbar tops' role='navigation' style='margin-bottom: 0'>
    <a class='btn btn-primary' href='#'>
      <i class='fa fa-bars'></i>
    </a>
    <ul class='nav navbar-top-links navbar-left'>
      <li class='dropdown'>
        <a class='dropdown-toggle count-info' data-toggle='dropdown' href='#'>
          <i class='fa fa-envelope'></i>
          <span class='label label-success'>16</span>
        </a>
        <ul class='dropdown-menu dropdown-messages'>
          <li>
            <div class='dropdown-messages-box'>
              <a class='pull-left' href='profile.html'>
                <img alt='image' class='img-circle' src='/assets/inspinia/a7.jpg'>
              </a>
              <div class='media-body'>
                <small class='pull-right'>46h ago</small>
                <strong>Mike Loreipsum</strong>
                started following
                <strong>Monica Smith</strong>.
                <br>
                  <small class='text-muted'>3 days ago at 7:58 pm - 10.06.2014</small>
                <br>
              </div>
            </div>
          </li>
          <li class='divider'></li>
          <li>
            <div class='dropdown-messages-box'>
              <a class='pull-left' href='profile.html'>
                <img alt='image' class='img-circle' src='/assets/inspinia/a4.jpg'>
              </a>
              <div class='media-body'>
                <small class='pull-right text-navy'>5h ago</small>
                <strong>Chris Johnatan Overtunk</strong>
                started following
                <strong>Monica Smith</strong>.
                <br>
                  <small class='text-muted'>Yesterday 1:21 pm - 11.06.2014</small>
                <br>
              </div>
            </div>
          </li>
          <li class='divider'></li>
          <li>
            <div class='dropdown-messages-box'>
              <a class='pull-left' href='profile.html'>
                <img alt='image' class='img-circle' src='/assets/inspinia/profile.jpg'>
              </a>
              <div class='media-body'>
                <small class='pull-right'>23h ago</small>
                <strong>Monica Smith</strong>
                love
                <strong>Kim Smith</strong>.
                <br>
                  <small class='text-muted'>2 days ago at 2:30 am - 11.06.2014</small>
                <br>
              </div>
            </div>
          </li>
          <li class='divider'></li>
          <li>
            <div class='text-center link-block'>
              <a href='mailbox.html'>
                <i class='fa fa-envelope'></i>
                <strong>Read All Messages</strong>
              </a>
            </div>
          </li>
        </ul>
      </li>
      <li class='dropdown'>
        <a class='dropdown-toggle count-info' data-toggle='dropdown' href='#'>
          <i class='fa fa-bell'></i>
          <span class='label label-info'>8</span>
        </a>
        <ul class='dropdown-menu dropdown-alerts'>
          <li>
            <a href='mailbox.html'>
              <div>
                <i class='fa fa-envelope fa-fw'></i>
                You have 16 messages
                <span class='pull-right text-muted small'>4 minutes ago</span>
              </div>
            </a>
          </li>
          <li class='divider'></li>
          <li>
            <a href='profile.html'>
              <div>
                <i class='fa fa-twitter fa-fw'></i>
                3 New Followers
                <span class='pull-right text-muted small'>12 minutes ago</span>
              </div>
            </a>
          </li>
          <li class='divider'></li>
          <li>
            <a href='grid_options.html'>
              <div>
                <i class='fa fa-upload fa-fw'></i>
                Server Rebooted
                <span class='pull-right text-muted small'>4 minutes ago</span>
              </div>
            </a>
          </li>
          <li class='divider'></li>
          <li>
            <div class='text-center link-block'>
              <a href='notifications.html'>
                <strong>See All Alerts</strong>
                <i class='fa fa-angle-right'></i>
              </a>
            </div>
          </li>
        </ul>
      </li>
    </ul>
    <ul class='nav navbar-top-links navbar-right profiles'>
      <li class='dropdown profile-element'>
        <a class='asd dropdown-toggle' data-toggle='dropdown' href='#'>
          <img alt='image' class='img-circle' src='https://randomuser.me/api/portraits/med/women/10.jpg'>
          <span class=''>
            <strong class=''>David Williams</strong>
            <b class='caret'></b>
          </span>
        </a>
        <ul class='dropdown-menu animated'>
          <li>
            <a href='profile.html'>Profile</a>
          </li>
          <li>
            <a href='contacts.html'>Contacts</a>
          </li>
          <li>
            <a href='mailbox.html'>Mailbox</a>
          </li>
          <li class='divider'></li>
          <li>
            <a href='login.html'>
              <i class='fa fa-sign-out'></i>
              Log out
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>