<ul class='nav' id='side-menu'>
  <li class='nav-header'>
      Logo
  </li>
  <li>
      <a href='index.html'>
          <i class='fa fa-th-large'></i>
          <span class='nav-label'>Home</span>
      </a>
  </li>
  <li>
      <a href='layouts.html'>
          <i class='fa fa-group'></i>
          <span class='nav-label'>Clients</span>
      </a>
  </li>
  <li class='active'>
      <a href='#'>
          <i class='fa fa-building'></i>
          <span class='nav-label'>Providers</span>
          <span class='fa arrow'></span>
      </a>
      <ul class='nav nav-second-level collapse'>
          <li>
              <a href='graph_flot.html'>Flot Charts</a>
          </li>
          <li class='active'>
              <a href='graph_morris.html'>Morris.js Charts</a>
          </li>
      </ul>
  </li>
  <li>
    <a href='#'>
      <i class='fa fa-cube'></i>
      <span class='nav-label'>Products</span>
      <span class='fa arrow'></span>
    </a>
    <ul class='nav nav-second-level collapse'>
      <li>
        <a href='graph_flot.html'>Categories</a>
      </li>
      <li>
        <a href='graph_morris.html'>Listing</a>
      </li>
    </ul>
  </li>
  <li>
    <a href='#'>
      <i class='fa fa-money'></i>
      <span class='nav-label'>Financial</span>
      <span class='fa arrow'></span>
    </a>
    <ul class='nav nav-second-level collapse'>
      <li>
         <a href='form_basic.html'>Invoices</a>
      </li>
      <li>
         <a href='form_basic.html'>Pricing</a>
      </li>
    </ul>
  </li>
</ul>