<div id="wrapper">
  <div id="sidebar-wrapper">
    {{partial "layout/sidebar"}}
  </div>
  <div id="page-content-wrapper" class="gray-bg">
    {{partial "layout/header"}}
    <div class='box_notice'></div>
    {{outlet}}
  </div>
  {{partial "layout/footer"}}
</div>
