<div id="wrapper">
  <div id="sidebar-wrapper">
    {{partial "layouts/panel/sidebar/manager"}}
  </div>
  <div id="page-content-wrapper" class="gray-bg">
    {{partial "layouts/panel/header/manager"}}
    <div class='box_notice'></div>
    {{outlet}}
  </div>
  {{partial "layouts/panel/footer"}}
</div>